<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>

<body
    style="font-size:16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; margin:0px;background-color:#f4f4f4;">
    <table style="max-width:600px;width:100%;" cellpadding="0" cellspacing="0" align="center">
        <tbody style="text-align:left;">
            <!-- Header -->
            <tr>
                <td
                    style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px;border-bottom:2px solid #F3F4F4;text-align:center;">
                    <img src="https://gallery.mailchimp.com/959a3d6d09fbdca7b8d56b69e/images/f2c62b77-f885-4373-a417-f997e4372df6.png"
                        style="width:250px;vertical-align: middle;" alt="konnectshift_logo">
                </td>
            </tr>
            <!-- Header -->
            <!-- Body -->
            <tr>
                <td
                    style="padding-top:30px;padding-right:20px;padding-bottom:30px;padding-left:20px;border-left:1px solid #F3F4F4;border-right:1px solid #F3F4F4;background-color:#fdfdfd;">
                    <p
                        style="margin:0;color:#0B212F;font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-size:18px;line-height:24px;padding-bottom:15px;">
                        Hello  <%= name %>,</p>
                    <p
                        style="color:#445660;font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-size:16px;line-height:25px;margin:0;padding-bottom: 15px;">
                        Thank you very much for reaching us out. We'll get back to you as soon as possible.
                    </p>
                    <p
                        style="color:#0B212F;font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-size:18px;line-height:25px;margin:0;padding-top:0px;">
                        Regards
                    </p>
                    <p
                        style="color:#445660;font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-size:18px;line-height:20px;margin:0;padding-bottom:20px;">
                        KonnectShift Team</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>